<section class="about" id="about">
  <div class="bg-glow"></div>

  <!-- Photo gauche -->
  <div class="about-image">
    <div class="glow-ring">
      <img src="photo.jpg" alt="Chaima Arrouj" />
    </div>
  </div>

  <!-- Texte droite -->
  <div class="about-text">

    <h2>{{ lang.t().about_title }} <span>{{ lang.t().about_title_suffix }}</span></h2>
    <h3 class="subtitle">{{ lang.t().about_subtitle }}</h3>

    <p class="description">{{ lang.t().about_desc }}</p>

    <a href="#contact" class="btn-about">{{ lang.t().about_btn }}</a>

  </div>
</section>