<section class="services" id="services">
  <div class="bg-glow"></div>

   <div class="section-header">
    <p class="section-tag">{{ lang.t().services_tag }}</p>
    <h2>{{ lang.t().services_title }}</h2>
    <p class="section-sub">{{ lang.t().services_sub }}</p>
  </div>


  <div class="services-grid">
    <div class="service-card" *ngFor="let s of services">
      <div class="icon-box" [style.background]="s.gradient">
        <span>{{ s.icone }}</span>
      </div>
      <h3>{{ s.titre }}</h3>
      <p>{{ s.description }}</p>
    </div>
  </div>
</section>